MEGH_DEV/services/Megha_SOAP/Product_id_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Product_id"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="Product_idOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="product_id" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Product_idOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="name" type="xsd:string"></xsd:element>
						<xsd:element name="type" type="xsd:string">
						</xsd:element>
						<xsd:element name="plant_id"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="Product_idOperationRequest">
		<wsdl:part name="parameters" element="tns:Product_idOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="Product_idOperationResponse">
		<wsdl:part name="parameters" element="tns:Product_idOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="Product_idPortType">
		<wsdl:operation name="Product_idOperation">
			<wsdl:input message="tns:Product_idOperationRequest"></wsdl:input>
			<wsdl:output message="tns:Product_idOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="Product_idBinding" type="tns:Product_idPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Product_idOperation">
			<soap:operation soapAction="http://www.talend.org/service/Product_idOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="Product_id">
		<wsdl:port name="Product_idPort" binding="tns:Product_idBinding">
			<soap:address location="http://localhost:8090/services/Product_id" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>